# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [4]:
# Create a Beautiful Soup Object
html = browser.html
weather_soup = soup(html, 'html.parser')

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [6]:
# Create a list to hold the temperature data
temps = []

In [7]:
# Extract all rows of data
# Create an empty list
# Loop through the scraped data to create a list of rows
# Create a Pandas DataFrame by using the list of rows and a list of the column names
# Confirm DataFrame was created successfully
headers = [th.text for th in html.findAll('th')]
data = [[td.text for td in row.findAll('td')] for row in html.findAll('tr', class_='data-row')]
df = pd.DataFrame(data,columns=headers)
df[:5]

AttributeError: 'str' object has no attribute 'findAll'

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [8]:
# Examine data type of each column
print(df.dtypes)

NameError: name 'df' is not defined

In [9]:
# Change data types for data analysis
df['Temperature (F)'] = df['Temperature (F)'].astype(float)
df['Sol'] = df['Sol'].astype(int)

NameError: name 'df' is not defined

In [10]:
# Confirm type changes were successful by examining data types again
print(df.dtypes)

NameError: name 'df' is not defined

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [11]:
# 1. How many months are there on Mars?
months_in_mars = len(df.month.unique())
months_in_mars
print(f"There are {months_in_mars}  months in mars")

NameError: name 'df' is not defined

In [12]:
# 2. How many Martian days' worth of data are there?
martian_days = len(df.sol.unique())
print(f"There are {martian_days}  days in mars")

NameError: name 'df' is not defined

In [13]:
# 3. What is the average low temperature by month?
average_temp = df.groupby("month").mean("min_temp")
average_temp = pd.DataFrame(average_temp["min_temp"])
average_temp

NameError: name 'df' is not defined

In [14]:
# Plot the average temperature by month
average_temp.plot(kind='bar', xlabel='Month', ylabel='Average Low Temperature (F)', title='Average Low Temperature by Month on Mars')

NameError: name 'average_temp' is not defined

In [15]:
# Identify the coldest and hottest months in Curiosity's location
max_month = average_temp.idxmax()[0]
max_temp = average_temp.max()
min_month = average_temp.idxmin()[0]
min_temp = average_temp.min()
print(f"The month with the highest average low temperature in curiosity location  is {max_month}, with {max_temp}")
print(f"The month with the lowest average low temperature in curiosity location  is {min_month}, with {min_temp}")

NameError: name 'average_temp' is not defined

In [16]:
# 4. Average pressure by Martian month
average_pressure = df.groupby("month").mean("pressure")
average_pressure = pd.DataFrame(average_pressure["pressure"])
max_pressure_month = average_pressure.idxmax()[0]
max_pressure = average_pressure.max()
min_pressure_month = average_pressure.idxmin()[0]
min_pressure = average_pressure.min()
print(f"The month with the highest average pressure in curiosity location  is {max_pressure_month}, with {max_pressure}")
print(f"The month with the lowest average pressure in curiosity location  is {min_pressure_month }, with {min

SyntaxError: EOL while scanning string literal (2027408182.py, line 9)

In [17]:
# Plot the average pressure by month
average_pressure.plot(kind='bar', xlabel='Month', ylabel='Average Pressure', title='Average average_pressure

SyntaxError: EOL while scanning string literal (1302780112.py, line 2)

In [18]:
# 5. How many terrestrial (earth) days are there in a Martian year?
plt.plot(df['min_temp'], 'o', markersize=2)
plt.xlabel('Date')
plt.ylabel('Minimum Temperature (Â°C)')

NameError: name 'df' is not defined

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [19]:
# Write the data to a CSV
df.to_csv('my_data.csv', index=False)

NameError: name 'df' is not defined

In [20]:
browser.quit()